body
  font-size 1.5em
  background-color white

h1
  background-color green
  color white
  text-align center
  padding .5em

.container
  width 90%
  margin auto

.screen
  width 90%
  color #0f0
  background-color black
  font-family monospace
  margin auto
  padding 1em
  border-radius 1em