html
  header
    meta(charset='UTF-8')
    title Template
    
    //jQuery:
    script(type='text/javascript', src='lib/jquery.js')

    //bootstrap:
    link(rel='stylesheet', type='text/css', href='lib/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='lib/bootstrap-theme.css')

    //my stuff:
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(type='text/javascript', src='js/index.js')
      
  body
    h1 Test Page
    .container
      p.
        This is a simple template I use to check my setup. 
        I am using jade instead of html, stylus instead of css and
        coffee-script instead of javascript. I use gulp to take care
        of translating those into Webstandards and refresh the browser
        for the life preview.

      p.
        Does it work? Yes it does. As you can see, coffee-script is working
        beautifully:

      #console.screen.