html
  header
    meta(charset='UTF-8')
    title Template
    
    //jQuery:
    script(type='text/javascript', src='lib/jquery.js')

    //bootstrap:
    link(rel='stylesheet', type='text/css', href='lib/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='lib/bootstrap-theme.css')
    
    //my stuff:
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(type='text/javascript', src='js/index.js')

  body
    h1 Test Page
    .container
      p.
        This is a simple template I use to check my setup. Does it work?

      #console.screen.