html
  header
    meta(charset='UTF-8')
    title Charts

    link(rel='stylesheet', type='text/css', href='libs/semantic/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    
  
  body
    #app
      .ui.text.container.segment
        h1.header It's working ok now...
        p message : {{message}}

  footer
    script(type='text/javascript', src='libs/jquery/dist/jquery.js')
    script(type='text/javascript', src='libs/semantic/semantic.min.js')
    script(type="text/javascript", src="libs/vue/dist/vue.js")
    script(type='text/javascript', src='js/index.js')
